<div class="loginContent">

    <div class="login shadow">
        <form class="formLogin" action="" id="forgotPasswordForm">
            <h2>Recuperar Contraseña</h2>
            <label for="">Correo</label>
            <input type="email" name="email">


            <label for="">Password</label>
            <input type="password" name="password">

            <button class="btn" type="submit">Crear una nueva contraseña</button>
        </form>
    </div>
</div>


<script src="/js/forgotPassword.js"></script>