
<div class="loginContent">
   
    <div class="login shadow">
        
<form action="" class="formLogin">
     <h2>Login</h2>
  <label for="">Usuario <input placeholder="Ingresa tu email..." type="email" name="email"></label>
 

  <label for="">Password  <input placeholder="Ingresa tu contraseña..." type="password" name="password"></label>
 

  <button class="btn" type="submit">Iniciar Sesión</button>
  <a class="register" href="http://localhost:8080/signup/">registrate</a>
</form>
    </div>


</div>


<script src="/js/login.js"></script>