<div class="signupContent">
<div class="signup shadow">
<form class="formSignup">
    <h2>Registro</h2>
 <label for="">Nombre:</label>
  <input placeholder="escribe tu nombre..." type="text" name="firstName">

  <label for="">Apellido:</label>
  <input placeholder="escribe tu apellido.." type="text" name="lastName">

  <label for="">Edad:</label>
  <input placeholder="escribe tu edad.." type="number" name="age">

  <label for="">Email:</label>
  <input placeholder="escribe tu email.." type="email" name="email">

  <label for="">Password:</label>
  <input placeholder="ingresa tu contraseña.." type="password" name="password">

  <button class="btn" type="submit">Crear Usuario</button>
</form>
</div>
</div>
<script src="/js/signup.js"></script>